<!DOCTYPE html>

<html>
	        <h1> Flight </h1>



		 <form action="" method = "post">
			Cost:<br>
			<input type="text" name="Cost" ><br><br>
			Seats Sold:<br>
			<input type="text" name="SeatsSold" ><br><br>


			Number of stops:<br>
			<input type="text" name="numstops" ><br><br>


			Actual Departure date:<br>
			<input type="text" name="ADd"><br><br>



			Actual Arrival date:<br>
			<input type="text" name="AAd"><br><br>



			Arrival Airport:<br>
			<input type="text" name="AA"><br><br>
			Departure Airport:<br>
			<input type="text" name="DA"><br><br>



			Pilot Full Name:<br>
			<input type "text" name="pilot_full_name"><br><br>
			Pilot Nationality:<br>
			<input type = "text" name = "pilot_nationality"><br><br>


			Plane Make:<br>
			<input type = "text" name = "plane_make"><br><br>
			Plane Model:<br>
			<input type = "text" name = "plane_model"><br><br>

			Plane Age:<br><br>
			<input type = "text" name = "plane_age"><br><br>
			Plane Seats: <br><br>
			<input type = "text" name = "plane_seats"><br><br>



			<input type="submit" value="Submit">
			</form>














</html>






                                                                                                                       ~                    
