<!DOCTYPE html>

<html>
	        <h1> Flight </h1>



		 <form action="" method = "post">
			Cost:<br>
			<input type="text" name="Cost" ><br><br>
			Seats Sold:<br>
			<input type="text" name="SeatsSold" ><br><br>


			Number of stops:<br>
			<input type="text" name="numstops" ><br><br>


			Actual Departure date:<br>
			<input type="text" name="ADd"><br><br>



			Actual Arrival date:<br>
			<input type="text" name="AAd"><br><br>



			Arrival Airport:<br>
			<input type="text" name="AA"><br><br>
			Departure Airport:<br>
			<input type="text" name="DA"><br><br>




			<input type="submit" value="Submit">
			</form>














</html>






                                                                                                                       ~                    
