<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	  
	  
	  
	   <h1> Flight </h1>



		 <form action="" method = "post">
			Cost:<br>
			<input type="text" name="Cost" ><br><br>
			Seats Sold:<br>
			<input type="text" name="SeatsSold" ><br><br>


			Number of stops:<br>
			<input type="text" name="numstops" ><br><br>


			Actual Departure date:<br>
			<input type="text" name="ADd"><br><br>



			Actual Arrival date:<br>
			<input type="text" name="AAd"><br><br>



			Arrival Airport:<br>
			<input type="text" name="AA"><br><br>
			Departure Airport:<br>
			<input type="text" name="DA"><br><br>



			Pilot Full Name:<br>
			<input type "text" name="pilot_full_name"><br><br>
			Pilot Nationality:<br>
			<input type = "text" name = "pilot_nationality"><br><br>


			Plane Make:<br>
			<input type = "text" name = "plane_make"><br><br>
			Plane Model:<br>
			<input type = "text" name = "plane_model"><br><br>

			Plane Age:<br><br>
			<input type = "text" name = "plane_age"><br><br>
			Plane Seats: <br><br>
			<input type = "text" name = "plane_seats"><br><br>



			<input type="submit" value="Submit">
			</form>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>






























	       


















                                                                                                                       ~                    
