<!DOCTYPE html>

<html>

	<h1> HI </h1>



	<ul>
		<li><a href = "http://127.0.0.1:5000/plane"> Plane </a></li>
		<li><a href = "http://127.0.0.1:5000/pilot"> Pilot </a></li>
		<li><a href = "http://127.0.0.1:5000/technician"> Technician </a></li>
		<li><a href = "http://127.0.0.1:5000/flight"> Flight </a></li>

		<li><a href = "http://127.0.0.1:5000/bookflight"> Book Flight </a></li>

		<li><a href = "http://127.0.0.1:5000/available_seats"> Avilable Seats </a></li>
		<li><a href = "http://127.0.0.1:5000/repairs_per_plane_desc"> Repairs Per Plane</a></li>
		<li><a href = "http://127.0.0.1:5000/repairs_per_year_asc">Repairs per year </a></li>
		<li><a href = "http://127.0.0.1:5000/passenger_status">Passenger Status </a></li>



	</ul>


</html>

